# Data Cleaning: Converting key-pair values to data frame

This IPython notebook illustrates a simple data cleaning script to covert the data given in key-value pairs (eg. in this format a:124 b:235) to a dataframe. For this, I am using the TV News Channel Commercial Detection Dataset Data Set from the UCI Machine Learning Repository:

Link: https://archive.ics.uci.edu/ml/datasets/TV+News+Channel+Commercial+Detection+Dataset

The dataset consists of different attributes of the video clips ranging from shot length to spectrum analysis values. It consists of data from 5 TV channels. Each video classifies whether the data is a commercial or not in its first column (1/-1).

I converted this 'text' data which are given in key-value pairs to a dataframe, and added a 'Label' column to identify whether this is a commercial or not. All the operations are done using pandas and re packages.

In [111]:
import pandas as pd
import re

As an example, BBC.txt data is shown here.

In [112]:
df= pd.read_table('BBC.txt', header=None)

We can see that the whole dataset is read as one column.

In [113]:
df.head()

                                                   0
0  1  1:34 2:7.221330 3:3.191483 4:23.518745 5:11...
1  1  1:26 2:6.180094 3:3.015362 4:32.932747 5:18...
2  1  1:25 2:2.462173 3:1.541003 4:20.039402 5:18...
3  1  1:37 2:6.194136 3:2.658522 4:22.864201 5:13...
4  1  1:25 2:4.367200 3:2.063856 4:31.797680 5:14...

In [114]:
print("Number of data points in this dataset: ", len(df))

Number of data points in this dataset:  39252

So, the data is split into different strings as they have spaces in between each value.

In [115]:
s = df[0].str.split(' ')

As the first column in this dataset is the identification value of whether it is a commercial or not, a 'Label' column name(key) is added to it for consistency with other key-value pairs.

In [116]:
for x in s:
    x[0] = re.sub('^', 'Label:', x[0])

We can look at the first five row of data to see what they look like now.

In [117]:
s[0]

['Label:1',
 '',
 '1:34',
 '2:7.221330',
 '3:3.191483',
 '4:23.518745',
 '5:11.492748',
 '6:0.012884',
 '7:0.010939',
 '8:0.070129',
 '9:0.042020',
 '10:3479.684814',
 '11:1272.241577',
 '12:6925.000000',
 '13:2529.583496',
 '14:793.310242',
 '15:1491.667480',
 '16:95.101265',
 '17:47.862164',
 '18:0.280428',
 '19:0.057195',
 '20:0.037041',
 '21:0.030156',
 '22:0.027542',
 '23:0.026764',
 '24:0.026208',
 '25:0.025655',
 '26:0.026445',
 '27:0.025279',
 '28:0.024324',
 '29:0.023326',
 '30:0.022514',
 '31:0.021632',
 '32:0.020039',
 '33:0.019796',
 '34:0.018026',
 '35:0.022698',
 '36:0.015102',
 '37:0.013252',
 '38:0.012440',
 '39:0.011919',
 '40:0.010791',
 '41:0.009966',
 '42:0.008903',
 '43:0.008340',
 '44:0.007499',
 '45:0.006459',
 '46:0.006567',
 '47:0.005370',
 '48:0.004960',
 '49:0.004578',
 '50:0.004097',
 '51:0.003342',
 '52:0.003146',
 '53:0.002232',
 '54:0.002100',
 '55:0.001491',
 '56:0.001071',
 '57:0.000948',
 '58:0.284830',
 '59:0.188584',
 '60:0.095811',
 '61:0.058109',
 '62:0.039912',
 '63:0.031203',
 '64:0.024834',
 '65:0.020402',
 '66:0.018373',
 '67:0.017416',
 '68:0.014771',
 '69:0.014248',
 '70:0.014764',
 '71:0.010573',
 '72:0.007839',
 '73:0.009584',
 '74:0.009506',
 '75:0.004559',
 '76:0.002932',
 '77:0.002510',
 '78:0.002162',
 '79:0.001889',
 '80:0.001770',
 '81:0.001677',
 '82:0.001380',
 '83:0.001265',
 '84:0.000979',
 '85:0.000388',
 '86:0.000078',
 '87:0.000001',
 '91:0.000200',
 '92:0.206233',
 '93:0.055721',
 '94:0.258808',
 '95:0.096710',
 '96:0.006383',
 '97:0.012799',
 '98:0.018299',
 '99:0.094127',
 '100:0.197161',
 '101:0.200766',
 '102:0.425305',
 '103:0.386083',
 '104:0.229146',
 '106:0.001151',
 '107:0.094178',
 '108:0.072075',
 '109:0.113430',
 '110:0.081476',
 '111:0.012468',
 '112:0.023315',
 '113:0.025366',
 '114:0.075289',
 '115:0.147547',
 '116:0.162155',
 '117:0.239114',
 '118:0.229784',
 '119:0.124483',
 '221:0.034483',
 '296:0.275862',
 '448:0.163793',
 '491:0.060345',
 '572:0.129310',
 '573:0.008621',
 '580:0.155172',
 '762:0.129310',
 '816:0.051724',
 '871:0.008621',
 '959:0.017241',
 '4124:0.340551293848',
 '4125:0.263356149835']

We can see that now the row correctly contains the 'key' for target variable as 'Label'. However, it also contains some empty strings that came with the data. These need to be removed before they are converted into the dataframe.

In [118]:
m = [list(w for w in x if w)for x in s]

Sanity check here.

In [119]:
m[0]

['Label:1',
 '1:34',
 '2:7.221330',
 '3:3.191483',
 '4:23.518745',
 '5:11.492748',
 '6:0.012884',
 '7:0.010939',
 '8:0.070129',
 '9:0.042020',
 '10:3479.684814',
 '11:1272.241577',
 '12:6925.000000',
 '13:2529.583496',
 '14:793.310242',
 '15:1491.667480',
 '16:95.101265',
 '17:47.862164',
 '18:0.280428',
 '19:0.057195',
 '20:0.037041',
 '21:0.030156',
 '22:0.027542',
 '23:0.026764',
 '24:0.026208',
 '25:0.025655',
 '26:0.026445',
 '27:0.025279',
 '28:0.024324',
 '29:0.023326',
 '30:0.022514',
 '31:0.021632',
 '32:0.020039',
 '33:0.019796',
 '34:0.018026',
 '35:0.022698',
 '36:0.015102',
 '37:0.013252',
 '38:0.012440',
 '39:0.011919',
 '40:0.010791',
 '41:0.009966',
 '42:0.008903',
 '43:0.008340',
 '44:0.007499',
 '45:0.006459',
 '46:0.006567',
 '47:0.005370',
 '48:0.004960',
 '49:0.004578',
 '50:0.004097',
 '51:0.003342',
 '52:0.003146',
 '53:0.002232',
 '54:0.002100',
 '55:0.001491',
 '56:0.001071',
 '57:0.000948',
 '58:0.284830',
 '59:0.188584',
 '60:0.095811',
 '61:0.058109',
 '62:0.039912',
 '63:0.031203',
 '64:0.024834',
 '65:0.020402',
 '66:0.018373',
 '67:0.017416',
 '68:0.014771',
 '69:0.014248',
 '70:0.014764',
 '71:0.010573',
 '72:0.007839',
 '73:0.009584',
 '74:0.009506',
 '75:0.004559',
 '76:0.002932',
 '77:0.002510',
 '78:0.002162',
 '79:0.001889',
 '80:0.001770',
 '81:0.001677',
 '82:0.001380',
 '83:0.001265',
 '84:0.000979',
 '85:0.000388',
 '86:0.000078',
 '87:0.000001',
 '91:0.000200',
 '92:0.206233',
 '93:0.055721',
 '94:0.258808',
 '95:0.096710',
 '96:0.006383',
 '97:0.012799',
 '98:0.018299',
 '99:0.094127',
 '100:0.197161',
 '101:0.200766',
 '102:0.425305',
 '103:0.386083',
 '104:0.229146',
 '106:0.001151',
 '107:0.094178',
 '108:0.072075',
 '109:0.113430',
 '110:0.081476',
 '111:0.012468',
 '112:0.023315',
 '113:0.025366',
 '114:0.075289',
 '115:0.147547',
 '116:0.162155',
 '117:0.239114',
 '118:0.229784',
 '119:0.124483',
 '221:0.034483',
 '296:0.275862',
 '448:0.163793',
 '491:0.060345',
 '572:0.129310',
 '573:0.008621',
 '580:0.155172',
 '762:0.129310',
 '816:0.051724',
 '871:0.008621',
 '959:0.017241',
 '4124:0.340551293848',
 '4125:0.263356149835']

Great! Now the list consists of purely key-value pairs. Now, they need to be converted into a dictionary.

In [120]:
d = [dict(w.split(':') for w in x) for x in m]

Sanity check.

In [121]:
d[0]

{'1': '34',
 '10': '3479.684814',
 '100': '0.197161',
 '101': '0.200766',
 '102': '0.425305',
 '103': '0.386083',
 '104': '0.229146',
 '106': '0.001151',
 '107': '0.094178',
 '108': '0.072075',
 '109': '0.113430',
 '11': '1272.241577',
 '110': '0.081476',
 '111': '0.012468',
 '112': '0.023315',
 '113': '0.025366',
 '114': '0.075289',
 '115': '0.147547',
 '116': '0.162155',
 '117': '0.239114',
 '118': '0.229784',
 '119': '0.124483',
 '12': '6925.000000',
 '13': '2529.583496',
 '14': '793.310242',
 '15': '1491.667480',
 '16': '95.101265',
 '17': '47.862164',
 '18': '0.280428',
 '19': '0.057195',
 '2': '7.221330',
 '20': '0.037041',
 '21': '0.030156',
 '22': '0.027542',
 '221': '0.034483',
 '23': '0.026764',
 '24': '0.026208',
 '25': '0.025655',
 '26': '0.026445',
 '27': '0.025279',
 '28': '0.024324',
 '29': '0.023326',
 '296': '0.275862',
 '3': '3.191483',
 '30': '0.022514',
 '31': '0.021632',
 '32': '0.020039',
 '33': '0.019796',
 '34': '0.018026',
 '35': '0.022698',
 '36': '0.015102',
 '37': '0.013252',
 '38': '0.012440',
 '39': '0.011919',
 '4': '23.518745',
 '40': '0.010791',
 '41': '0.009966',
 '4124': '0.340551293848',
 '4125': '0.263356149835',
 '42': '0.008903',
 '43': '0.008340',
 '44': '0.007499',
 '448': '0.163793',
 '45': '0.006459',
 '46': '0.006567',
 '47': '0.005370',
 '48': '0.004960',
 '49': '0.004578',
 '491': '0.060345',
 '5': '11.492748',
 '50': '0.004097',
 '51': '0.003342',
 '52': '0.003146',
 '53': '0.002232',
 '54': '0.002100',
 '55': '0.001491',
 '56': '0.001071',
 '57': '0.000948',
 '572': '0.129310',
 '573': '0.008621',
 '58': '0.284830',
 '580': '0.155172',
 '59': '0.188584',
 '6': '0.012884',
 '60': '0.095811',
 '61': '0.058109',
 '62': '0.039912',
 '63': '0.031203',
 '64': '0.024834',
 '65': '0.020402',
 '66': '0.018373',
 '67': '0.017416',
 '68': '0.014771',
 '69': '0.014248',
 '7': '0.010939',
 '70': '0.014764',
 '71': '0.010573',
 '72': '0.007839',
 '73': '0.009584',
 '74': '0.009506',
 '75': '0.004559',
 '76': '0.002932',
 '762': '0.129310',
 '77': '0.002510',
 '78': '0.002162',
 '79': '0.001889',
 '8': '0.070129',
 '80': '0.001770',
 '81': '0.001677',
 '816': '0.051724',
 '82': '0.001380',
 '83': '0.001265',
 '84': '0.000979',
 '85': '0.000388',
 '86': '0.000078',
 '87': '0.000001',
 '871': '0.008621',
 '9': '0.042020',
 '91': '0.000200',
 '92': '0.206233',
 '93': '0.055721',
 '94': '0.258808',
 '95': '0.096710',
 '959': '0.017241',
 '96': '0.006383',
 '97': '0.012799',
 '98': '0.018299',
 '99': '0.094127',
 'Label': '1'}

The keys are extracted in order to be given as column names.

In [122]:
cols = sorted(d, key=len, reverse=True)[0].keys()
print(cols)

dict_keys(['221', '49', '110', '50', '156', '91', '36', '448', '18', '59', '145', '32', '206', '17', '197', '99', '96', '13', '51', '317', '6', '30', '22', '95', '76', '176', '62', '573', '64', '14', '601', '42', '621', '143', '116', '236', '871', '84', '262', '409', '114', '463', '47', '128', '34', '182', '852', 'Label', '26', '134', '70', '52', '5', '35', '623', '1002', '60', '12', '186', '215', '105', '194', '45', '94', '48', '406', '149', '82', '75', '19', '209', '271', '300', '366', '1016', '93', '1048', '882', '79', '426', '767', '92', '61', '83', '519', '162', '55', '11', '104', '127', '69', '144', '58', '7', '192', '41', '106', '171', '44', '112', '627', '101', '74', '152', '39', '168', '115', '223', '54', '572', '231', '37', '53', '107', '347', '407', '25', '269', '129', '816', '651', '877', '40', '81', '46', '72', '119', '108', '726', '195', '220', '27', '9', '185', '959', '118', '63', '97', '109', '29', '166', '319', '71', '21', '10', '125', '276', '98', '102', '28', '77', '113', '142', '219', '15', '709', '57', '840', '43', '188', '16', '67', '123', '229', '924', '85', '66', '230', '20', '505', '86', '100', '68', '56', '208', '78', '33', '2', '31', '80', '38', '90', '111', '559', '478', '24', '4', '4125', '1', '212', '462', '187', '482', '73', '65', '792', '3', '103', '117', '8', '296', '491', '23', '4124'])

Now, the key-value pairs are converted to a pandas dataframe.

In [123]:
df = pd.DataFrame.from_records(d, index=df.index, columns=cols)

In [124]:
df.head()

,221,49,110,50,156,91,36,448,18,59,...,65,792,3,103,117,8,296,491,23,4124
0,0.034483,0.004578,0.081476,0.004097,NaN,0.000200,0.015102,0.163793,0.280428,0.188584,...,0.020402,NaN,3.191483,0.386083,0.239114,0.070129,0.275862,0.060345,0.026764,0.340551293848
1,0.023810,0.003646,0.069544,0.003437,NaN,0.024921,0.011070,0.250000,0.291295,0.129548,...,0.025180,NaN,3.015362,0.442294,0.219372,0.075000,0.178571,0.059524,0.029612,0.969323592363
2,0.012500,0.000126,0.019784,0.000096,NaN,0.000510,0.003407,0.112500,0.433894,0.127630,...,0.017804,NaN,1.541003,0.335157,0.180428,0.062625,0.137500,NaN,0.031720,0.148112313307
3,NaN,0.002355,0.056521,0.002345,NaN,0.008617,0.011975,0.078125,0.269854,0.183695,...,0.026004,NaN,2.658522,0.328285,0.204611,0.078041,0.062500,0.039062,0.035898,0.746379388402
4,NaN,0.000262,0.119341,0.000259,NaN,NaN,0.007306,0.075000,0.254343,0.091578,...,0.031220,NaN,2.063856,0.116193,0.158413,0.107625,0.062500,0.025000,0.042564,0.572577783148

In [125]:
print("Number of rows: ", len(df))

Number of rows:  39252

The number of rows matches the datapoints from the text file. But, we see that the column names are mixed up (although, the corresponding values are correct--this is verified). The columns names have to be in their ascending order to make sense about the data. 

The 'Label' column is removed, then the rest of the columns are converted to integer, sorted and back to string, and Label is appended. This is because if they are sorted as integers, it will not go from '1, 2, 3', but would rather go from '1, 10, 100' etc.

In [126]:
df_cols = list(df.columns)
df_cols.remove('Label')
df_cols = list(map(int, df_cols))
df_cols.sort()
df_cols = list(map(str, df_cols))
df_cols.append('Label')

Then the columns in the dataframe are reordered based on this.

In [127]:
df = df[df_cols]

The empty values in the dataframe are filled with 'NA'.

In [128]:
df = df.fillna('NA')

In [129]:
df.head()

,1,2,3,4,5,6,7,8,9,10,...,877,882,924,959,1002,1016,1048,4124,4125,Label
0,34,7.221330,3.191483,23.518745,11.492748,0.012884,0.010939,0.070129,0.042020,3479.684814,...,NA,NA,NA,0.017241,NA,NA,NA,0.340551293848,0.263356149835,1
1,26,6.180094,3.015362,32.932747,18.120752,0.013149,0.010831,0.075000,0.050982,3362.287354,...,NA,NA,NA,NA,NA,NA,NA,0.969323592363,0.623751637831,1
2,25,2.462173,1.541003,20.039402,18.033579,0.015869,0.011657,0.062625,0.042195,3317.864746,...,NA,NA,NA,NA,NA,NA,NA,0.148112313307,0.780920132399,1
3,37,6.194136,2.658522,22.864201,13.588374,0.017141,0.012120,0.078041,0.072270,3491.640137,...,NA,NA,0.015625,0.023438,NA,NA,NA,0.746379388402,0.403130075635,1
4,25,4.367200,2.063856,31.797680,14.305157,0.013647,0.013007,0.107625,0.080645,3327.662109,...,0.100000,NA,NA,0.025000,NA,NA,NA,0.572577783148,0.588162223247,1

Now we can see that the dataframe is neatly ordered and 'Label' is conveniently added at the end (target variable). This is ready to be saved as a csv file.

In [130]:
df.to_csv("BBC_Cleaned.csv", index=False)